{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEMESANAN MENU RUMAH MAKAN</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
        <!--Navbar section-->
        <section class="navbar">
            <div class="container text-center">
                <h1>Pemesanan Menu Rumah Makan </h1>
                <div class="menu text-right">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--end navbar section-->

        <!---->


</body>
</html>